<% if obj.errors.full_messages.any? %>
  <div class="bg-yellow-100 rounded-lg py-5 px-6 mb-4 text-base text-yellow-700 mb-3" role="alert">
    <% obj.errors.full_messages.each do |error_message| %>
      <%= error_message if obj.errors.full_messages.first == error_message %>
    <% end %>
  </div>
<% end %>
