@tailwind base;
@tailwind components;
@tailwind utilities;

/*

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-blue-200;
  }
}

*/


.button {
  @apply px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out;
}

.button-dark {
  @apply inline-block px-6 py-2 border-2 border-gray-800 text-gray-800 font-medium text-xs leading-tight uppercase rounded hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0 transition duration-150 ease-in-out;
}

.button-info {
  @apply inline-block px-6 py-2 border-2 border-blue-400 text-blue-400 font-medium text-xs leading-tight uppercase rounded hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0 transition duration-150 ease-in-out;
}

.input {
  @apply px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-200 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none;
}

.user-avatar {
  @apply border border-solid border-gray-200 my-4 mx-auto w-[200px];
}

ul {
  list-style-type: square;
  list-style-position: inside;
}

.notice {
  @apply bg-blue-100 rounded-lg py-5 px-6 mb-4 text-base text-sm text-blue-700 mb-3;
}

.alert {
  @apply bg-purple-100 rounded-lg py-5 px-6 mb-4 text-base text-sm text-purple-700 mb-3;
}

.trix-content .attachment {
  @apply block w-[300px] mx-auto !important;
}

.published .tweet {
  @apply bg-gray-100
}

.published .tweeter-icon {
  @apply text-blue-400
}

.attachment__caption {
  display: none;
}